<!DOCTYPE html>
<html lang="en-ca">

    <head>
		<meta charset="utf-8">
		<title>My awesome Web test 1.0</title>
	</head>
	
	
	<body>
	
	 <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
	
		<header>
			<h1>Yalexyo Ex Lab</h1>
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="music.html">Music</a></li>
					<li><a href="photography.html">Photography</a></li>
					<li><a href="news.html"> News</a></li>
				</ul>
			</nav>
		
       </header>
	 
	
	</body>

</html>
